.main-container{
    height: 90vh;
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
}

.container-one, .container-two, .container-three{
    box-shadow: 0 0 1px #ccc;
    border-radius: 10px;
    background-color: white;
}

.container-one{
    height: fit-content;
}

.container-three{
    width: 400px;
    padding: 1% 2%;
    overflow-y: scroll;
}

.container-two{
    height: fit-content;
    padding: 2% 5%;
}